<!-- <div *ngIf="member">
    <h2 align="center">{{member.name | uppercase}} Details</h2>
    <div class="divclass">id: {{member.id}}</div>
    <div class="divclass">
        <button type="button" (click)="goBack()">Go Back!</button>
        <button type="button" (click)="save()">Save!!</button>
        <label for="member-name">Member name: </label>
        <input id="member-name" [(ngModel)]="member.name" placeholder="name">
    </div>
</div> -->

<div *ngIf="member">
    <h2 >
       
        {{member.name | uppercase}} Details
    </h2>
    <h3 >id: {{member.id}}</h3>
</div>
<div *ngIf="member">
    <input type="text" [(ngModel)]="member.name" placeholder="name">
</div>
<button type="button" (click)="goback()">Back</button>
<button type="button" (click)="save()">Save</button>


