.clrmsg{
    background-color: bisque;
    width: 15%;
    align-items: center;
    display: flex;
    justify-content: center;

}
.clrmsg:hover{
    background-color: yellow;
    transition: all 0.3s ease;
    width: 20%;
    height: 15%;
    cursor: pointer;
}