<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form-Validate</title>
    <link rel="stylesheet" href="./formvalid.css">
</head>

<body>

    <form action="/submit" method="post" class="form" enctype="multipart/form-data">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
    
        <button type="submit">Submit</button>

        <label for="image">Image:</label>
        <input type="file" id="image" name="image" accept="image/*" required><br>
    
    
</form>

    <% if(errors){%>
        <h3>Error(s):</h3>
        <ul>
            <% errors.forEach(error=>{%>
                <li>
                    <%= error.msg %>
                </li>
                <%})%>
        </ul>
        <%}%>
</body>

</html>